
@font-face {
    font-family: 'abadi';
    src: url(../fonts/abadi.ttf)
}

body {
  font-family: abadi;
}

#scene-tabbar, #scene-body {
  min-height: 100vh;
}

#scene-tabbar {
  background-color: red;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
}

#scene-tabbar img {
  width: 70%;
  border-radius: 100%;
}

#scene-tabbar .list-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#scene-tabbar .list-item {
  padding: 0.5em;
  margin: 0.2em;
  background-color: aqua;
  width: 90%;
}

#scene-tabbar .list-item:hover {
  background-color: chartreuse;
  cursor: pointer;
}

#scene-body {
  background-color: blanchedalmond;
  height: inherit;
  font-size: 1em;
  height: 100vh;
  overflow: scroll;
}

#scene-body .col {
  font-size: 1em;
}

#scene-body section {
  display: none;
}

.col-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.project-card {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card img, .project-card video {
  padding: 1em;
  width: 100%;
  border-radius: 2em;
}
