
@font-face {
    font-family: 'abadi';
    src: url(../fonts/abadi.ttf)
}

body {
  font-family: abadi;
}

.imgBack {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
}

@media only screen and (min-width: 1000px) {
  .imgBack {
    background-attachment: fixed;
  }
}

#intro {
  background-image: linear-gradient(to right, #012d91 , #001082);
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding-top: 10%;
}

#intro-texts {
  font-size: 40px;
}

#scene-tabbar, #scene-body {
  min-height: 100vh;
}

#scene-tabbar {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#scene-tabbar img {
  width: 70%;
  border-radius: 100%;
}

#scene-tabbar .list-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#scene-tabbar .list-item {
  padding: 0.5em;
  margin: 0.2em;
  background-color: aqua;
  width: 90%;
}

#scene-tabbar .list-item:hover {
  background-color: chartreuse;
  cursor: pointer;
}

#scene-body {
  background-color: blanchedalmond;
  height: inherit;
  font-size: 1em;
}

#scene-body .col {
  font-size: 1em;
}

#scene-body section {
  display: none;
}

.skill-container {
  height: 15px;
  width: 100%;
  background-color: aqua;
  display: inline-block;
}

.skill-value {
  height: 15px;
  width:80%;
  background-color: rebeccapurple;
}
