body {
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}

#scene-tabbar, #scene-body {
  min-height: 125vh;
}

#scene-body::-webkit-scrollbar, #scene-tabbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

#scene-tabbar {
  background: rgb(15,76,117);
  background: linear-gradient(180deg, rgba(15,76,117,1) 0%, rgba(0,62,103,1) 53%, rgba(11,55,84,1) 100%);  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
  scrollbar-width: none;
}


#scene-tabbar #my-img {
  width: 70%;
  border-radius: 100%;
}

.list-view img {
  width: 40px;
}

.list-view a {
  color: white;
}

.contact-item {
  display: inline;
  color: black;
  font-size: 2em;
  margin: 0 0.4em 0 0.4em;
}

#scene-tabbar .list-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#scene-tabbar .list-item {
  padding: 0.5em;
  margin: 0.2em;
  background-color: #3282b8;
  width: 90%;
}

#scene-tabbar .list-item:hover {
  background-color:#2b373e;
  cursor: pointer;
}

#scene-body {
  background-color: #1b262c;
  height: inherit;
  font-size: 1em;
  height: 100vh;
  overflow: scroll;
  scrollbar-width: none;
}

#scene-body .col {
  font-size: 1em;
}

#scene-body section {
  display: none;
}

.col-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.project-card {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card img, .project-card video {
  padding: 1em;
  width: 100%;
  border-radius: 2em;
}
